
<%= form_for @work_space do |f| %>
  <div>
    <%= f.label :name, 'Name your work space:' %>
    <%= f.text_field :name %>
  </div>

  # XXX Show all the polling stations - prevent workspace creation if none?

  <%= f.submit 'Create workspace' %>
<% end %>
